body{
    background: rgb(187, 185, 185);
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1rem;
  }