{% extends 'partials/base.html'%}
{% block title%}Paid records Page{% endblock%}


{% block content %}
 
<!--Table-->
<div class="container" >
  <div class="card-body">
    <div class="row my-2">
        <div class="col-md-2.8" >
          <a class="text-decoration-none text-dark"  href="{% url 'dashboard-receipt' %}">
                <div class="card my-card shadow text-white text-center p-2" style="background-color:darkorchid;">
                    <h4>All payments<i class="fas fa-users"></i></h4>
                </div>
          </a> 
        </div>
    </div>
  </div>
  <div class="row my-2">
      <div class="col-md-8">
        <form class="form-inline" role="search" method="POST">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Door No" name="search_query" required aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <table class="table bg-white" style="white-space: nowrap;">
            <thead class="bg-secondary">
              <tr>
                  <th>Apartment Name</th>
                  <th>Door No: </th>
                  <th>Tenant Name: </th>
                  <th>Type </th>
                  <th>Rent Status </th>
                  <th>House Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                  <tr>
                    <td>{{ item.apartment }}</td>
                    <td>{{ item.door_no }}</td>
                    <td>{{ item.tenant }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.Rent_status }}</td>
                    <td>{{ item.hse_status }}</td>
                    <td>
                      <a class="btn btn-info btn-sm" href="{% url 'dashboard-unit-payment' item.id %}">view Payments</a>
                  </td>
        
                  </tr>
                {% endfor %}
          </tbody>
          </table>
      </div>
  </div>

</div>
<!--End Table-->

{% endblock %}