{% extends 'partials/base.html'%}
{% block title%}Payment receipts Page{% endblock%}


{% block content %}
{%if receipts %}
<!--Table-->
<div class="container" >
  <div class="card-body">
    <div class="row">
        <div class="col-md-4">
            
                <div class="card my-card shadow text-center p-3">
                    <h4>{{paidUnit}} <i class="fas fa-users"></i></h4>
                </div>
            
        </div>
    </div>
  </div> 
    <div class="row my-2">
        <div class="col-md-8">
            <table class="table bg-white" style="white-space: nowrap;">
              <thead class="bg-secondary">
                <tr>
                    <th>accountReference</th>
                    <th>paidAmount </th>
                    <th>paymentDate </th>
                    <th>transactionId </th>
                    <th>phoneNumber </th>
                    <th>fullName</th>
                    <th>invoiceName</th>
                    <th>externalReference</th>
      
                  </tr>
                </thead>
                <tbody>
                  {% for receipt in receipts %}
                    <tr>
                      <td>{{ receipt.accountReference }}</td>
                      <td>{{ receipt.paidAmount }}</td>
                      <td>{{ receipt.paymentDate }}</td>
                      <td>{{ receipt.transactionId }}</td>
                      <td>{{ receipt.phoneNumber }}</td>
                      <td>{{ receipt.fullName }}</td>
                      <td>{{receipt.invoiceName}}</td>
                      <td>{{receipt.externalReference}}</td>
                      
          
                    </tr>
                  {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
  
  </div>
{% else %}
<div class="card-body">
  <div class="row">
      <div class="col-md-4">
          <a class="text-decoration-none text-dark">
              <div class="card my-card shadow text-center p-3" style="background-color:red;">
                  <h4>No object Found <i class="fas fa-users"></i></h4>
                  
              </div>
          </a>
      </div></div></div>
{% endif %}
{% endblock %}